body {
    background: #F47920;
    line-height: 120%;
    font: 100% Angsana New

} 
#total {
    background: #F47920;
    margin-left: 15%;
    margin-right: 15%;

} 
*{
    border:0;
    margin:0;
    padding:0;
}
header, #objetivos, #informacion, #tematicas {
    background: white;
    width: 1000px;
    height: 220px;
    text-align: center;
}

#objetivos {
    background: #F0B429;
    height: 205px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 984px;
}
#objetivos #objetivo1 {
    background: #005883;
    width: 325px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}
#objetivos #objetivo2 {
    background: #005883;
    width: 325px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}
#objetivos #objetivo3 {
    background: #005883;
    width: 325px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}
#informacion {
    background:#F0B429;
    height: 400px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 984px;
}
#informacion #intro {
    background:#808080;
    width: 980px;
    height: 390px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    
}
#lecturas {
    background:#F0B429;
    height: 800px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 984px;
}



#lecturas #lectura3 {
    background:#808080;
    width: 980px;
    height: 390px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    
}
#tematicas {
    background: black;
    height: 230px;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 5px;
    width: 964px;
}
#tematicas #tema {
    background: black;
    width: 970px;
    height: 209px;
    display: inline-block;
    vertical-align: top;
}
footer {
    text-align: center;
    width: 970px;
    height: 205px;
    
}
h1 {
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 5px;
}
#menuu{
    padding: 7px;
}
#menuu #menu1 {
    background:white;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    
}
#menuu #menu2 {
    background: white;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#menuu #menu3 {
    background:white;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#menuu #menu4 {
    background: white;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#menuu #menu5 {
    background: white;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#indica{
    padding: 7px;
}
#indica #indica1 {
    background:#F0B429;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#indica #indica2 {
    background:#F0B429;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#indica #indica3 {
    background:#F0B429;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#indica #indica4 {
    background:#F0B429;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
#indica #indica5 {
    background:#F0B429;
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

#indica {
    padding: 10px;
}

#lectura {
    background: #F0B429;
    height: 732px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 984px;
}
#lectura #lectura1 {
    background: #005883;
    width: 490px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}
#lectura #lectura2 {
    background: #005883;
    width: 490px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}

